body {
  font-family: Arial, sans-serif;
}
.heading {
  text-align: center;
}
.heading-container {
  display: flex;
  justify-content: space-between;
}
.btn {
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  margin: 5px;
  transition: background 0.3s ease-in-out;
}
